<?php
/**
 * The template for displaying 404 pages (not found).
 *
 * @package storefront
 */

get_header();
?>

    <div id="primary" class="content-area">

        <main id="main" class="site-main" role="main">

            <div id="app">
                <div class="row">
                    <div class="col-md-6"><user-list :items="items"></user-list></div>
                    <div class="col-md-6"><user :user="user"></user></div>
                </div>
            </div>
        </main><!-- #main -->
    </div><!-- #primary -->

<?php
get_footer();
